@import '_util'

border-color = #ddd
font-color = #777
primary-color = #88f
sidebar-width = 140px

html
body
  margin 0
  height 100%

#app
  width 100%
  height 100%
  display flex
  flex-direction row
  align-items stretch

#editor
  flex-grow 1
  display flex
  flex-direction row
  align-items stretch
  .tab
    .item
      background-color #fff
      cursor pointer
      user-select none
      display block
      box-sizing border-box
      width sidebar-width
      border-bottom 1px solid border-color
      padding 11px 12px
      color font-color
      font-size 12px
      font-weight bold
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      &.active
        border-right 5px solid primary-color
      &:hover
        background-color #eee
      &:active
        background-color #ddd
      &.run
        text-align center
        color primary-color
  .field
    flex-grow 1
    border-left 1px solid border-color
    position relative
    .item
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      z-index 0
      fit-to-parent()
      &.active
        z-index 1
      .codemirror-container
        fit-to-parent()
        > div
          height auto

#preview
  fit-to-parent()
  .iframe
    box-sizing border-box
    width 500px
    min-width 500px
    border 0px
    border-left 1px solid border-color
