.fade-transition
  transition 0.3s all ease
  opacity 1.0

.fade-enter
.fade-leave
  opacity 0.0

.popup-transition
  transition 0.3s transform cubic-bezier(0.670, 1.615, 0.455, 0.795) 0.05s
  transform scale(1.0, 1.0)

.popup-enter
.popup-leave
  transform scale(0.5, 0.5)
